<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from creativelayers.net/themes/superio/job-list-v4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:18:48 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Superio | Just another HTML Template | Job List v4</title>

    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"></div>

      <!-- Header Span -->
      <span class="header-span"></span>

      <!--Page Title-->
      <section class="page-title">
        <div class="auto-container">
          <div class="title-outer">
            <h1>Previous Job Requests</h1>
            <ul class="page-breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Jobs</li>
            </ul>
          </div>
        </div>
      </section>
      <!--End Page Title-->

      <!-- Listing Section -->
      <section class="ls-section">
        <div class="auto-container">
          <!-- <div class="filters-backdrop"></div> -->

          <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-12">
              <div class="ls-outer">
                <!-- ls Switcher -->

                <div class="row">
                  <!-- Job Block -->
                  <% orders.forEach( (order ) => { %>

                  <div class="job-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                      <div class="content">
                        <span class="company-logo"
                          ><img
                            src="images/resource/company-logo/1-1.png"
                            alt=""
                        /></span>
                        <h4>
                          <a href="#"><%= order.identifier %></a>
                        </h4>
                        <div>
                          <style>
                            .elip {
                              width: 400px;

                              /**Major Properties**/
                              overflow: hidden;
                              /*max-height: 6rem;*/
                              -webkit-box-orient: vertical;
                              display: block;
                              display: -webkit-box;
                              overflow: hidden !important;
                              text-overflow: ellipsis;
                              -webkit-line-clamp: 4;
                            }
                          </style>
                          <p class="elip">
                            <%= order.fname %> <%= order.lname %>
                          </p>

                          <button type="submit">
                            <a href="/order?identifier=<%= order.identifier %>"
                              >More Details</a
                            >
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Listing Page Section -->

      <!-- Main Footer -->
      <%- include('./partials/footer') %>
      <!-- End Main Footer -->
    </div>
    <!-- End Page Wrapper -->

    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/chosen.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.modal.min.js"></script>
    <script src="js/mmenu.polyfills.js"></script>
    <script src="js/mmenu.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>
  </body>

  <!-- Mirrored from creativelayers.net/themes/superio/job-list-v4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:18:48 GMT -->
</html>
