<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from creativelayers.net/themes/superio/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:19:18 GMT -->
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"></div>

      <!-- Main Header-->

      <!--End Main Header -->

      <!-- Info Section -->
      <div class="login-section">
        <!-- <div
          class="image-layer"
          style="background-image: url(../../images/background/12.jpg)"
        ></div> -->
        <div class="outer-box">
          <!-- Login Form -->
          <div class="login-form default-form">
            <div class="form-inner">
              <h3>User Order</h3>

              <p><%=order.fname %></p>
              <p><%=order.lname %></p>
              <p><%=order.email %></p>
              <p><%=order.phone %></p>
              <p><%=order.address %></p>

              <p></p>
            </div>
          </div>
          <!--End Login Form -->
        </div>
      </div>
      <!-- End Info Section -->
    </div>
    <!-- End Page Wrapper -->

    <script src="../../js/jquery.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/chosen.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/jquery.fancybox.js"></script>
    <script src="../../js/jquery.modal.min.js"></script>
    <script src="../../js/mmenu.polyfills.js"></script>
    <script src="../../js/mmenu.js"></script>
    <script src="../../js/appear.js"></script>
    <script src="../../js/owl.js"></script>
    <script src="../../js/wow.js"></script>
    <script src="../../js/script.js"></script>
  </body>

  <!-- Mirrored from creativelayers.net/themes/superio/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:19:18 GMT -->
</html>
